<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
  <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="Marwadishaadi.com">
  <title>Edit Profile | Meet 'N' Greet, 2018 - Pune</title>
  <link rel="apple-touch-icon" sizes="60x60" href="../app-assets/img/ico/apple-icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../app-assets/img/ico/apple-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../app-assets/img/ico/apple-icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../app-assets/img/ico/apple-icon-152.png">
  <link rel="shortcut icon" href="img/fav.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <!-- BEGIN VENDOR CSS-->
  <!-- font icons-->
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/feather/style.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/prism.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/pickadate/pickadate.css">

  <!-- END VENDOR CSS-->
  <!-- BEGIN APEX CSS-->
  <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">
  <!-- END APEX CSS-->
  <!-- BEGIN Page Level CSS-->
  <!-- <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/wizard.css"> -->
  <!-- END Page Level CSS-->

  <!-- BEGIN Custom CSS-->
  <!-- END Custom CSS-->
</head>

<body data-col="2-columns" class=" 2-columns ">


  <!-- main menu-->
  <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->

  <!-- / main menu-->


  <!-- Navbar (Header) Starts-->
  <nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand pl-5">
          <!-- <img src="img/logo.png" class="mr-3 brand-logo" alt="logo">Marwadishaadi.com -->
          Edit Profile
        </a>

      </div>
    </div>
  </nav>
  <!-- Navbar (Header) Ends-->

  <div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <!-- Wizard Starts -->
        <div class="row justify-content-md-center">
          <div class="col-md-8">

            <section class="input-validation">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <!-- <div class="card-header">
                      <h4 class="card-title">Form wizard with icon tabs</h4>
                    </div> -->
                    <div class="card-body">
                      <div class="card-block">
                        <form class="form-horizontal" novalidate enctype="multipart/form-data" action="/update/{{ user.order_id }}" method="POST">
                          <!-- Step 1 -->
                          <div class="card collapse-icon accordion-icon-rotate">
                            <div id="headingCollapse11" class="card-header">
                              <a data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11" class="card-title lead">Personal Information</a>
                            </div>
                            <div id="collapse11" role="tabpanel" aria-labelledby="headingCollapse11" class="collapse show">

                              <!-- <h4 align="center">
                                <b>Personal Information</b>
                              </h4> -->
                              <fieldset>
                                <div class="row">
                                  <div class="col-md-12">

                                    <div class="form-group">
                                      <label for="profileFilledBy">Profile Filled By ?
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="input-group">
                                        {% for pfb in profilesFilledBy %}

                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="{{ pfb }}" name="profileFilledBy" value="{{ pfb }}" class="custom-control-input">
                                          <label class="custom-control-label" for="{{ pfb }}">{{ pfb }}</label>
                                        </div>
                                        {% endfor %}


                                      </div>
                                      <!-- <select name="profileFilledBy" id="profileFilledBy" required class="form-control" data-validation-required-message="This field is required">

                                        <option value="{{ pfb }}">{{ pfb }}</option>

                                  </select> -->
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="firstName2">First Name
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="candidateFirstName" name="candidateFirstName" required data-validation-required-message="This field is required" value="{{ user.f_name }}">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="lastName2">Last Name
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="candidateLastName" name="candidateLastName" required data-validation-required-message="This field is required" value="{{ user.l_name }}">
                                      </div>

                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="issueinput3">Date Of Birth
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="date" id="issueinput3" class="form-control" name="dateOfBirth" required data-validation-required-message="This field is required" value="{{ user.dob }}">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="timeOfBirth">Time Of Birth</label>
                                      <div class="position-relative has-icon-left">
                                        <input type="time" id="timeOfBirth" class="form-control" name="timeOfBirth" value="{{ user.tob }}">
                                        <div class="form-control-position">
                                          <i class="ft-clock"></i>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Gender</label>
                                      <span class="required" style="color: red">*</span>

                                      <div class="input-group">
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="male" name="gender" value="Male" class="custom-control-input">
                                          <label class="custom-control-label" for="Male">Male</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="female" name="gender" value="Female" class="custom-control-input">
                                          <label class="custom-control-label" for="Female">Female</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="placeOfBirth">Place Of Birth
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="placeOfBirth" name="placeOfBirth" required data-validation-required-message="This field is required" value="{{ user.birth_place }}">
                                      </div>

                                    </div>
                                  </div>
                                </div>


                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="gotra">Gotra
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="gotra" id="gotra" required class="form-control" data-validation-required-message="This field is required">
                                        {% for gotra in gotraList %}
                                        <option value="{{ gotra }}">{{ gotra }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="manglik">Manglik ?
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      {% for manglik in manglikList %}
                                      <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="{{ manglik }}" name="manglik" value="{{ manglik }}" class="custom-control-input">
                                        <label class="custom-control-label" for="{{ manglik }}">{{ manglik }}</label>
                                      </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="marital">Marital Status
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="marital" id="marital" required class="form-control" required data-validation-required-message="This field is required">
                                        {% for maritalStatus in maritalList %}
                                        <option value="{{ maritalStatus }}">{{ maritalStatus }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="physicalStatus">Physical Status
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="input-group">
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="normal" name="physicalStatus" value="Normal" class="custom-control-input">
                                          <label class="custom-control-label" for="normal">Normal</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="Specially Abled" name="physicalStatus" value="Specially Abled" class="custom-control-input">
                                          <label class="custom-control-label" for="Specially Abled">Specially Abled</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="height">Height
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="height" id="height" required class="form-control" data-validation-required-message="This field is required">
                                        {% for height in heightList %}
                                        <option value="{{ height }}">{{ height }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="weight">Weight
                                      </label>
                                      <input type="number" name="weight" class="form-control" value="{{ user.weight }}">
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="complexion">Complexion
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="input-group">
                                        {% for complexion in complexionList %}
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="{{ complexion }}" name="complexion" value="{{ complexion }}" class="custom-control-input">
                                          <label class="custom-control-label" for="{{ complexion }}">{{ complexion }}</label>
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="interest">Interest</label>
                                      <textarea id="interest" rows="4" class="form-control border-primary" name="interest" placeholder="Share your interest">{{ user.interests }}</textarea>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            <!-- Step 2 -->
                            <div id="headingCollapse12" class="card-header">
                              <a data-toggle="collapse" href="#collapse12" aria-expanded="false" aria-controls="collapse12" class="card-title lead collapsed">Career Details</a>
                            </div>
                            <div id="collapse12" role="tabpanel" aria-labelledby="headingCollapse12" class="collapse" aria-expanded="false">

                              <fieldset>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="educationCategory">Education Category
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="educationCategory" id="educationCategory" required class="form-control" data-validation-required-message="This field is required">
                                        {% for educationCategory in educationCategories %}
                                        <option value="{{- educationCategory -}}">{{ educationCategory }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="educationDetails">Education Details
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="educationDetails" name="educationDetails" required data-validation-required-message="This field is required" value="{{ user.education_details }}">
                                      </div>
                                      <small class="text-muted">eg.
                                        <i>C.A / CFA / B.E / MBA (Finance)</i>
                                      </small>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="college">College / Institute / University
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="college" name="college" required data-validation-required-message="This field is required" value="{{ user.college }}">
                                      </div>
                                      <small class="text-muted">eg.
                                        <i>Pune / Mumbai University, IIT, IIM, ICAI, NIFT</i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="occupation">Occupation
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="occupation" id="occupation" required class="form-control" data-validation-required-message="This field is required">
                                        {% for occupation in occupationList %}
                                        <option value="{{ occupation }}">{{ occupation }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="companyName">Company / Firm Name
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="companyName" name="companyName" required data-validation-required-message="This field is required" value="{{ user.company }}">
                                      </div>
                                      <small class="text-muted">
                                        <i>Enter company or firm name </i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="workLocation">Work Location (Current)
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="workLocation" name="workLocation" required data-validation-required-message="This field is required" value="{{ user.work_location }}">
                                      </div>
                                      <small class="text-muted">
                                        <i>Enter city name </i>
                                      </small>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="designation">Designation
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="designation" id="designation" required class="form-control" data-validation-required-message="This field is required">
                                        {% for designation in designationList %}
                                        <option value="{{ designation }}">{{ designation }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="annualIncome">Annual Income
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="annualIncome" id="annualIncome" required class="form-control" data-validation-required-message="This field is required">
                                        {% for income in incomeList %}
                                        <option value="{{ income }}">{{ income }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>

                              </fieldset>
                            </div>

                            <!-- Step 3 -->
                            <div id="headingCollapse13" class="card-header">
                              <a data-toggle="collapse" href="#collapse13" aria-expanded="false" aria-controls="collapse13" class="card-title lead collapsed">Family Details</a>
                            </div>
                            <div id="collapse13" role="tabpanel" aria-labelledby="headingCollapse13" class="collapse" aria-expanded="false">


                              <fieldset>
                                <div class="row">

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="fatherName">Father's Name
                                        <span class="required" style="color: red">*</span>

                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="fatherFirstName" name="fatherFirstName" placeholder="Firstname" required class="form-control" data-validation-required-message="This field is required" value="{{ user.father_name }}">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="eventName2"> </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="fatherLastName" placeholder="Lastname" name="fatherLastName" required class="form-control" data-validation-required-message="This field is required" value="{{ user.father_last_name }}">
                                      </div>
                                    </div>
                                  </div>

                                </div>
                                <div class="row">

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="eventName2">Mother's Name
                                        <span class="required" style="color: red">*</span>

                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="motherFirstName" name="motherFirstName" required class="form-control" placeholder="Firstname" data-validation-required-message="This field is required" value="{{ user.mother_name }}">
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="eventName2"> </label>
                                      <div class="control">
                                        <input type="text" class="form-control" id="motherLastName" name="motherLastName" required class="form-control" placeholder="Lastname" data-validation-required-message="This field is required" value="{{ user.mother_last_name }}">
                                      </div>
                                    </div>
                                  </div>

                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="familyOccupation">Family Occupation
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="familyOccupation" name="familyOccupation" required data-validation-required-message="This field is required" value="{{ user.family_occupation }}">
                                      </div>
                                      <small class="text-muted">
                                        <i>Name of firm/company, nature of business, location, etc.</i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="familyStatus">Family Status
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="familyStatus" id="familyStatus" required class="form-control" data-validation-required-message="This field is required">
                                        {% for fs in fStatus %}
                                        <option value="{{ fs }}">{{ fs }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="familyStatus">No. Of Brothers
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="noOfBrothers" id="noOfBrothers" required class="form-control" data-validation-required-message="This field is required">
                                        {% for nos in noOfSiblings %}
                                        <option value="{{ nos }}">{{ nos }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="familyStatus">No. Of Sisters
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="noOfSisters" id="noOfSisters" required class="form-control" data-validation-required-message="This field is required">
                                        {% for nos in noOfSiblings %}
                                        <option value="{{ nos }}">{{ nos }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>

                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="nanihal">Nanihal
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="nanihal" name="nanihal" required data-validation-required-message="This field is required" value="{{ user.nanihal }}">
                                        <small class="text-muted">
                                      </div>
                                      <i>Mama's Surname</i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="nanihalLocation">Nanihal Location
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="nanihalLocation" name="nanihalLocation" required data-validation-required-message="This field is required" value="{{ user.nanihal_location }}">
                                      </div>
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            <!-- Step 4 -->
                            <div id="headingCollapse14" class="card-header">
                              <a data-toggle="collapse" href="#collapse14" aria-expanded="false" aria-controls="collapse14" class="card-title lead collapsed">Residential Details</a>
                            </div>
                            <div id="collapse14" role="tabpanel" aria-labelledby="headingCollapse14" class="collapse" aria-expanded="false" style="height: 0px;">


                              <fieldset>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label for="address">House / Building No.
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="address" name="address" required data-validation-required-message="This field is required" value="{{ user.family_address }}">
                                      </div>
                                      <small class="text-muted">eg.
                                        <i>901, Millan Hills</i>
                                      </small>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label for="city">City
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="city" name="city" required data-validation-required-message="This field is required" value="{{ user.city }}">
                                      </div>
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>

                                  <div class="col-md-4">
                                    <div class="form-group">
                                      <label for="pincode">Pincode
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="number" class="form-control" id="pincode" name="pincode" required data-validation-containsnumber-regex="(\d){6}" data-validation-containsnumber-message="Enter 6 digit pincode" value="{{ user.zipcode }}">
                                      </div>
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>

                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="selfmobno">Self Mobile No. (Optional)
                                      </label>
                                      <input type="text" class="form-control" id="selfmobno" name="selfMobileNo" value="{{ user.mobile_no }} ">
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="parentMobNo">Parent Mobile No.
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="text" class="form-control" id="parentMobNo" name="parentMobileNo" required data-validation-containsnumber-regex="(\d){10}" data-validation-containsnumber-message="Enter 10 digit mobile number" value="{{ user.parent_mobile_no }}">
                                      </div>
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="alternateMobNo">Alternate Mobile No. (Optional)
                                      </label>
                                      <input type="text" class="form-control" id="alternateMobNo" name="alternateMobileNo" value="{{ user.alternate_no }} ">
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="emailId">Email Id
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="controls">
                                        <input type="email" class="form-control" id="emailId" name="emailId" required data-validation-required-message="This field is required" value="{{ user.email }}">
                                      </div>
                                      <small class="text-muted">
                                        <i></i>
                                      </small>
                                    </div>
                                  </div>

                                </div>


                              </fieldset>

                            </div>

                            <div id="headingCollapse15" class="card-header">
                              <a data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15" class="card-title lead collapsed">Marital Preferences</a>
                            </div>
                            <div id="collapse15" role="tabpanel" aria-labelledby="headingCollapse15" class="collapse" aria-expanded="false" style="height: 0px;">

                              <fieldset>
                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Horoscope Matching Required ?</label>
                                      <span class="required" style="color: red">*</span>

                                      <div class="input-group">
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="hyes" name="horoscope" class="custom-control-input" value="Yes">
                                          <label class="custom-control-label" for="hyes">Yes</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="hno" name="horoscope" class="custom-control-input" value="No">
                                          <label class="custom-control-label" for="hno">No</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="hdntk" name="horoscope" class="custom-control-input" value="Do Not Know">
                                          <label class="custom-control-label" for="hdntk">Do Not Know</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="interest">Partner Preference
                                      </label>
                                      <textarea id="partnerPreference" rows="4" class="form-control border-primary" name="partnerPreference" placeholder="Share your interest">{{ user.partner_preference }}</textarea>
                                    </div>
                                  </div>
                                </div>

                                <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label>Prefered Mode Of Payment
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <div class="input-group">
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="paytm" name="paymentMode" class="custom-control-input" value="Paytm / E-Wallet">
                                          <label class="custom-control-label" for="paytm">Paytm/E-Wallet</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="p" name="paymentMode" class="custom-control-input" value="Cash Deposit / Cheque">
                                          <label class="custom-control-label" for="cash">Cash Deposit/Cheque</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="online" name="paymentMode" class="custom-control-input" value="Online Credit / Debit card">
                                          <label class="custom-control-label" for="online">Online credit/Debit card</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                          <input type="radio" id="net" name="paymentMode" class="custom-control-input" value="Net Banking">
                                          <label class="custom-control-label" for="net">Net Banking</label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="familyStatus">How did you came to know about Meet 'N' Greet ?
                                        <span class="required" style="color: red">*</span>
                                      </label>
                                      <select name="cameToKnow" id="cameToKnow" required class="form-control" data-validation-required-message="This field is required">
                                        {% for ctk in cameToKnow %}
                                        <option value="{{ ctk }}">{{ ctk }}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            <!-- <div id="headingCollapse16" class="card-header">
                              <a data-toggle="collapse" href="#collapse16" aria-expanded="false" aria-controls="collapse16" class="card-title lead collapsed">Photo Upload</a>
                            </div>
                            <div id="collapse16" role="tabpanel" aria-labelledby="headingCollapse16" class="collapse" aria-expanded="false" style="height: 0px;">


                              <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="photoUpload">Photo Upload
                                    </label>
                                    <div class="controls">
                                      <input type="file" class="form-control-file" id="photoUpload" name="photoUpload" class="form-control" required>

                                    </div>
                                  </div>

                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="basicInputFile">Biodata Upload
                                    </label>
                                    <input type="file" class="form-control-file" id="biodata" name="biodata" multiple>
                                  </div>
                                </div>
                              </div>
                            </div> -->
                            <div style="margin: 0 auto;">
                              <button type="submit" class="btn btn-success">Submit </button>
                            </div>
                          </div>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>

        <!-- Wizard Ends -->

        <script>
          function initialize() {
            var placeOfBirth = document.getElementById('placeOfBirth');
            new google.maps.places.Autocomplete(placeOfBirth);
            var nanihalLocation = document.getElementById('nanihalLocation');
            new google.maps.places.Autocomplete(nanihalLocation);
            var workLocation = document.getElementById('workLocation');
            new google.maps.places.Autocomplete(workLocation);
          }

          google.maps.event.addDomListener(window, 'load', initialize);

          window.onload = function () {

            $("input[name=profileFilledBy][value='{{ user.profile_filled_by }}']").prop("checked", true);
            $("input[name=gender][value='{{ user.gender }}']").prop("checked", true);
            $("input[name=manglik][value='{{ user.manglik }}']").prop("checked", true);
            $("input[name=physicalStatus][value='{{ user.physical_status }}']").prop("checked", true);
            $("input[name=complexion][value='{{ user.complexion }}']").prop("checked", true);
            $("input[name=horoscope][value='{{ user.horoscope_matching }}']").prop("checked", true);
            $("input[name=paymentMode][value='{{ user.mode_of_payment }}']").prop("checked", true);


            $("#gotra").val('{{ user.gotra }}');
            $("#marital").val('{{ user.marital_status }}');
            $("#height").val('{{ user.height }}');
            $("#educationCategory").val('{{ user.education_category }}');
            $("#occupation").val('{{ user.occupation }}');
            $("#designation").val('{{ user.designation }}');
            $("#annualIncome").val('{{ user.annual_income }}');
            $("#familyStatus").val('{{ user.family_status }}');
            $("#noOfBrothers").val('{{ user.no_of_brothers }}');
            $("#noOfSisters").val('{{ user.no_of_sisters }}');
            $("#cameToKnow").val('{{ user.came_to_know }}');

          }


        </script>
        <!-- Theme customizer Ends-->
        <!-- BEGIN VENDOR JS-->
        <script src="../app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
        <!-- BEGIN VENDOR JS-->
        <!-- BEGIN PAGE VENDOR JS-->
        <script src="../app-assets/vendors/js/jquery.steps.min.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/pickadate/picker.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/pickadate/picker.date.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/pickadate/picker.time.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/pickadate/legacy.js" type="text/javascript"></script>
        <script src="../app-assets/vendors/js/jqBootstrapValidation.js" type="text/javascript"></script>

        <!-- END PAGE VENDOR JS-->
        <!-- BEGIN APEX JS-->
        <script src="../app-assets/js/app-sidebar.js" type="text/javascript"></script>
        <script src="../app-assets/js/notification-sidebar.js" type="text/javascript"></script>
        <script src="../app-assets/js/customizer.js" type="text/javascript"></script>
        <!-- END APEX JS-->
        <!-- BEGIN PAGE LEVEL JS-->
        <script src="../app-assets/js/components-modal.min.js" type="text/javascript"></script>

        <!-- <script src="../app-assets/js/wizard-steps.js" type="text/javascript"></script> -->
        <script src="../app-assets/js/form-validation.js" type="text/javascript"></script>
        <!-- END PAGE LEVEL JS-->
</body>

