<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>Invoice | Meet 'N' Greet, Pune</title>
  <link rel="shortcut icon" href="img/fav.png">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  <!-- BEGIN VENDOR CSS-->
  <!-- font icons-->
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/feather/style.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/prism.min.css">
  <!-- END VENDOR CSS-->
  <!-- BEGIN APEX CSS-->
  <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">
  <!-- END APEX CSS-->
  <!-- BEGIN Page Level CSS-->
  <!-- END Page Level CSS-->
  <script src="../app-assets/js/html2canvas.js" type="text/javascript"></script>
  <!-- BEGIN Custom CSS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.debug.js" integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>

  <style>
    .main-it {
      margin: 0 auto;
    }
  </style>

  <!-- END Custom CSS-->
</head>

<body data-col="2-columns" class=" 2-columns" id="invoice-page">

  <div class="row" style="margin-top: 80px;">
    <div class="col-md-8" style="margin: 0 auto;">
      <section class="invoice-template">
        <div class="card">
          <div class="card-body p-3">
            <div id="invoice-template" class="card-block">
              <!-- Invoice Company Details -->
              <div id="invoice-company-details" class="row">
                <div class="col-6 text-left">
                  <img src="../img/logo.png" alt="company logo" class="mb-2" width="70">
                  <ul class="px-0 list-unstyled">
                    <li class="text-bold-800">Marwadishaadi.com</li>
                    <li>D-145 Amargina Complex,</li>
                    <li>Thane,</li>
                    <li>Maharashtra, 400601.</li>
                  </ul>
                </div>
                <div class="col-6 text-right">
                  <h2>GSTIN</h2>
                  <p class="pb-3">27AAVFM2355H1ZV</p>
                  <br>
                  <h2>INVOICE</h2>
                  <p class="pb-3"># {{ user.order_id }}</p>
                </div>
              </div>
              <!--/ Invoice Company Details -->
              <!-- Invoice Customer Details -->
              <div id="invoice-customer-details" class="row pt-2">
                <div class="col-sm-12 text-left">
                  <p class="text-muted">Bill To</p>
                </div>
                <div class="col-6 text-left">
                  <ul class="px-0 list-unstyled">
                    <li class="text-bold-800">{{ user.billing_name }}</li>
                    <li>{{ user.billing_address }}</li>
                    <li>{{ user.billing_city }}</li>
                    <li>{{ user.billing_state }}</li>
                  </ul>
                </div>
                <div class="col-6 text-right">
                  <p>
                    <span class="text-muted">Invoice Date :</span>{{ user.trans_date }}</p>
                </div>
              </div>
              <!--/ Invoice Customer Details -->
              <!-- Invoice Items Details -->
              <div id="invoice-items-details" class="pt-2">
                <div class="row">
                  <div class="table-responsive col-sm-12">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Item &amp; Description</th>
                          <th class="text-right">Amount</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>
                            <p>Meet 'N' Greet, 2018 - Pune</p>
                            <p class="text-muted">Marwadishaadi.com</p>
                          </td>
                          <td class="text-right">Rs. 3700.00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-12 text-left">
                    <p class="lead">Payment Method:</p>
                    <div class="row">
                      <div class="col-12">
                        <table class="table table-borderless table-sm">
                          <tbody>
                            <tr>
                              <td>Payment Mode:</td>
                              <td class="text-right">{{ user.payment_mode }}</td>
                            </tr>
                            <tr>
                              <td>Card name:</td>
                              <td class="text-right">{{ user.card_name }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Invoice Footer -->
              <div id="invoice-footer">
                <div class="row" style="text-align: center;">
                  <div class="col-md-3 col-sm-12 text-center" data-html2canvas-ignore="true" style="margin: 0 auto;">
                    <button type="button" class="btn btn-primary btn-raised my-1" id="print">
                      <i class="fa fa-paper-plane-o"></i> Save Invoice</button>
                  </div>
                </div>
              </div>
              <!--/ Invoice Footer -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>




  <script src="../app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN APEX JS-->
  <script src="../app-assets/js/app-sidebar.js" type="text/javascript"></script>
  <script src="../app-assets/js/notification-sidebar.js" type="text/javascript"></script>
  <script src="../app-assets/js/customizer.js" type="text/javascript"></script>
  <script src="../app-assets/js/html2canvas.min.js" type="text/javascript"></script>
  <!-- END APEX JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="../app-assets/js/tooltip.js" type="text/javascript"></script>

  <!-- END PAGE LEVEL JS-->

  <script>
    $('#print').click(function () {
      html2canvas(document.querySelector("#invoice-page")).then(canvas => {
        var dataURL = canvas.toDataURL('image/png');
        saveAs(dataURL, 'invoice.png');
      });
    });

    function saveAs(uri, filename) {
      var link = document.createElement('a');
      if (typeof link.download === 'string') {
        link.href = uri;
        link.download = filename;
        //Firefox requires the link to be in the body
        document.body.appendChild(link);

        //simulate click
        link.click();

        //remove the link when done
        document.body.removeChild(link);
      } else {
        window.open(uri);
      }
    }
  </script>


</body>

</html>