<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
  <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="Marwadishaadi.com">
  <title>{{ user.f_name }} {{ user.l_name}} | Meet 'N' Greet, 2018 - Pune</title>
  <link rel="apple-touch-icon" sizes="60x60" href="app-assets/img/ico/apple-icon-60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="app-assets/img/ico/apple-icon-76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="app-assets/img/ico/apple-icon-120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="app-assets/img/ico/apple-icon-152.png">
  <link rel="shortcut icon" href="../img/fav.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

  <!-- BEGIN VENDOR CSS-->
  <!-- font icons-->
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/feather/style.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/prism.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/pickadate/pickadate.css">

  <!-- END VENDOR CSS-->
  <!-- BEGIN APEX CSS-->
  <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">
  <!-- END APEX CSS-->
  <!-- BEGIN Page Level CSS-->
  <!-- END Page Level CSS-->

  <!-- BEGIN Custom CSS-->
  <style>
    .main-it {
      margin-top: 0px;
    }
  </style>
  <!-- END Custom CSS-->
</head>

<body data-col="2-columns" class=" 2-columns ">


  <!-- main menu-->
  <!--.main-menu(class="#{menuColor} #{menuOpenType}", class=(menuShadow == true ? 'menu-shadow' : ''))-->

  <!-- / main menu-->


  <!-- Navbar (Header) Starts-->

  <!-- Navbar (Header) Ends-->
  <!-- Theme customizer Ends-->
  <!-- BEGIN VENDOR JS-->
  <div class="main-it">

    <!-- <div class="main-content">

      <div class="content-wrapper">  -->

    <section id="horizontal-form-layouts">

      <div class="col-xl-4 col-lg-12" style="margin: 0 auto;">
        <div class="card">
          <div class="card-body">
            <div class="card-block">
              <div class="row d-flex ">
                <!-- <div class="col align-self-center text-center">
                  <i class="ft-download font-large-2 blue-grey lighten-2 data-toggle='tooltip' data-original-title='Download Biodata' data-placement='left'"></i>
                </div> -->
                <div class="col align-self-center text-center">
                  <img alt="user_photo" class="bg-danger width-150 rounded-circle img-fluid" src="//meetngreet18.com/images/{{ user.id }}/photo/{{ user.photo_link}}">
                </div>
                <!-- <div class="col align-self-center text-center">
                  <a href="/edit/{{ user.order_id }}" <i class="ft-edit-3 font-large-2 blue-grey lighten-2 data-toggle='tooltip' data-original-title='Edit Profile' data-placement='right'">
                    </i>
                  </a>
                </div> -->
              </div>
              <h3 class="font-large-1 text-center">{{ user.f_name }} {{ user.l_name}}</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8" style="margin: 0 auto;">
          <div class="card">
            <!-- <div class="card-header">
                  <h4 class="card-title" id="horz-layout-basic">Project Info</h4>
                  <p class="mb-0">This is the basic horizontal form with labels on left and form controls on right in one line. Add
                    <code>.form-horizontal</code> class to the form tag to have horizontal form styling. To define form sections
                    use
                    <code>form-section</code> class with any heading tags.</p>
                </div> -->
            <div class="card-body">
              <div class="px-3">
                <form class="form form-horizontal">
                  <div class="form-body">
                    <div class="card collapse-icon accordion-icon-rotate">
                      <div id="headingCollapse11" class="card-header">
                        <a data-toggle="collapse" href="#collapse11" aria-expanded="true" aria-controls="collapse11" class="card-title lead">
                          <i class="ft-user"></i> Personal Information</a>
                      </div>
                      <div id="collapse11" role="tabpanel" aria-labelledby="headingCollapse11" class="collapse show">


                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Birthdate: </label>
                          <div class="col-md-3">
                            <p>{{ user.dob }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Time Of Birth: </label>
                          <div class="col-md-3">
                            <p>{{ user.tob }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Place Of Birth: </label>
                          <div class="col-md-3">
                            <p>{{ user.birth_place }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Manglik: </label>
                          <div class="col-md-3">
                            <p>{{ user.manglik }}</p>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Height: </label>
                          <div class="col-md-3">
                            <p>{{ user.height }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Gotra: </label>
                          <div class="col-md-3">
                            <p>{{ user.gotra }}</p>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Weight: </label>
                          <div class="col-md-3">
                            <p>{{ user.weight }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Complexion: </label>
                          <div class="col-md-3">
                            <p>{{ user.complexion }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Interests: </label>
                          <div class="col-md-3">
                            <p>{{ user.interests }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Horoscope Matching ?: </label>
                          <div class="col-md-3">
                            <p>{{ user.horoscope_matching }}</p>
                          </div>
                        </div>
                      </div>


                      <div id="headingCollapse17" class="card-header">
                        <a data-toggle="collapse" href="#collapse17" aria-expanded="false" aria-controls="collapse17" class="card-title lead collapsed">
                          <i class="ft-book"></i> Education Details</a>
                      </div>
                      <div id="collapse17" role="tabpanel" aria-labelledby="headingCollapse17" class="collapse" aria-expanded="false" style="height: 0px;">

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Education: </label>
                          <div class="col-md-3">
                            <p>{{ user.education_details }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">College: </label>
                          <div class="col-md-3">
                            <p>{{ user.college }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Occupation: </label>
                          <div class="col-md-3">
                            <p>{{ user.occupation }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Company: </label>
                          <div class="col-md-3">
                            <p>{{ user.company }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Work Location: </label>
                          <div class="col-md-3">
                            <p>{{ user.work_location }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Designation: </label>
                          <div class="col-md-3">
                            <p>{{ user.designation }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Annual Income: </label>
                          <div class="col-md-3">
                            <p>{{ user.annual_income }}</p>
                          </div>
                        </div>

                      </div>

                      <div id="headingCollapse15" class="card-header">
                        <a data-toggle="collapse" href="#collapse15" aria-expanded="false" aria-controls="collapse15" class="card-title lead collapsed">
                          <i class="ft-shield"></i> Family Details</a>
                      </div>
                      <div id="collapse15" role="tabpanel" aria-labelledby="headingCollapse15" class="collapse" aria-expanded="false" style="height: 0px;">

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Father's Name: </label>
                          <div class="col-md-3">
                            <p>{{ user.father_name }} {{ user.father_last_name }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Mother's Name: </label>
                          <div class="col-md-3">
                            <p>{{ user.mother_name }} {{ user.mother_last_name }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Family Occupation: </label>
                          <div class="col-md-3">
                            <p>{{ user.family_occupation }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Family Status: </label>
                          <div class="col-md-3">
                            <p>{{ user.family_status }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">No. Of Sisters: </label>
                          <div class="col-md-3">
                            <p>{{ user.no_of_sisters }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">No. Of Brothers: </label>
                          <div class="col-md-3">
                            <p>{{ user.no_of_brothers }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Nanihal: </label>
                          <div class="col-md-3">
                            <p>{{ user.nanihal }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Nanihal Location: </label>
                          <div class="col-md-3">
                            <p>{{ user.nanihal_location }}</p>
                          </div>
                        </div>
                      </div>

                      <div id="headingCollapse14" class="card-header">
                        <a data-toggle="collapse" href="#collapse14" aria-expanded="false" aria-controls="collapse14" class="card-title lead collapsed">
                          <i class="ft-phone"></i> Contact Details</a>
                      </div>
                      <div id="collapse14" role="tabpanel" aria-labelledby="headingCollapse16" class="collapse" aria-expanded="false" style="height: 0px;">

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Residence: </label>
                          <div class="col-md-3">
                            <p>{{ user.family_address }}
                              <br>{{ user.city }}
                              <br>{{ user.zipcode }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Candidate Mobile No: </label>
                          <div class="col-md-3">
                            <p>{{ user.mobile_no }}</p>
                          </div>
                        </div>

                        <div class="form-group row">
                          <label class="col-md-3 label-control" for="projectinput1">Parent Mobile No: </label>
                          <div class="col-md-3">
                            <p>{{ user.parent_mobile_no }}</p>
                          </div>
                          <label class="col-md-3 label-control" for="projectinput1">Alternate Mobile No: </label>
                          <div class="col-md-3">
                            <p>{{ user.alternate_no }}</p>
                          </div>
                        </div>

                      </div>


                    </div>
                </form>
                </div>
              </div>
            </div>
          </div>
        </div>

    </section>
    <!-- </div>
   </div> -->
    </div>


    <script src="../app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="../app-assets/vendors/js/jquery.steps.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/pickadate/picker.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/pickadate/picker.date.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/pickadate/picker.time.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/pickadate/legacy.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="../app-assets/vendors/js/jqBootstrapValidation.js" type="text/javascript"></script>

    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN APEX JS-->
    <script src="../app-assets/js/app-sidebar.js" type="text/javascript"></script>
    <script src="../app-assets/js/notification-sidebar.js" type="text/javascript"></script>
    <script src="../app-assets/js/customizer.js" type="text/javascript"></script>
    <!-- END APEX JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="../app-assets/js/tooltip.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS-->


</body>