<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <title>Successful Registration | Meet 'N' Greet, Pune</title>
  <link rel="shortcut icon" href="img/fav.png">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  <!-- BEGIN VENDOR CSS-->
  <!-- font icons-->
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/feather/style.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/prism.min.css">
  <!-- END VENDOR CSS-->
  <!-- BEGIN APEX CSS-->
  <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">
  <!-- END APEX CSS-->
  <!-- BEGIN Page Level CSS-->
  <!-- END Page Level CSS-->
  <!-- BEGIN Custom CSS-->
  <style>
    .main-it {
      margin: 0 auto;
    }
  </style>

  <!-- END Custom CSS-->
</head>

<body data-col="2-columns" class=" 2-columns">

  <div class="row" style="margin-top: 80px;">
    <div class="col-md-8" style="margin: 0 auto;">

      <div class="card text-center">
        <div class="card-body">
          <div class="card-block">
            <h1 class="primary">
              <b>Thank You, {{ user.f_name }} {{ user.l_name }}!</b>
            </h1>
            <h4>Your submission has been received.
              <br>You are required to make the payment by entering the following details:</h4>
            <form method="POST" name="customerData" action="/ccavRequestHandler">
              <input type="text" hidden name="merchant_id" id="merchant_id" value="4703" />
              <input type="text" hidden name="order_id" value="{{ order_id }}" />
              <input type="text" hidden name="currency" value="INR" />
              <input type="text" hidden name="amount" value="3700.00" />
              <input type="text" hidden name="redirect_url" value="https://meetngreet18.com/ccavResponseHandler" />
              <input type="text" hidden name="cancel_url" value="https://meetngreet18.com/ccavResponseHandler" />
              <input type="text" hidden name="language" id="language" value="EN" />
              <input type="text" hidden name="merchant_param1" value="{{ user.f_name }}" />
              <input type="text" hidden name="merchant_param2" value="{{ user.l_name }}" />
              <input type="text" hidden name="merchant_param3" value="{{ user.id }}" />
              <input type="text" hidden name="merchant_param4" value="{{ user.email }}" />
              <input type="text" hidden name="merchant_param5" value="{{ user.parent_mobile_no }}" />

              <input type="submit" class="btn btn-raised btn-success" value="PAY ONLINE" />
            </form>
            <h4>OR</h4>
            <h5>NEFT / IMPS on below bank details:</h5>
            <table style="text-align: left; margin:0 auto;">
              <tr>
                <td>Name: </td>
                <td> Marwadi Shaadi Matrimonial Service</td>
              </tr>
              <tr>
                <td>Bank: </td>
                <td> Axis Bank</td>
              </tr>
              <tr>
                <td>Branch: </td>
                <td> Uthalsar, Thane</td>
              </tr>
              <tr>
                <td>Account No: </td>
                <td> 912020018030211</td>
              </tr>
              <tr>
                <td>IFSC: </td>
                <td> UTIB0000509</td>
              </tr>
              <tr>
                <td>Amount: </td>
                <td> Rs. 3700/-</td>
              </tr>
            </table>
            <br>
            <h4 class="danger">
              <b>Your participation will only be confirmed after successful payment towards the registration fee of Rs. 3700/-
                for the event.</b>
            </h4>

            <h6>
              In case of any doubts, feel free to email us on
              <b>rishi@marwadishaadi.com</b> or call us on:
              <br>
            </h6>
            <table style="text-align: left; margin:0 auto;">
              <tr>
                <td>Mr. Rishi Karwa: </td>
                <td>9820923040</td>
              </tr>
              <tr>
                <td>Mrs. Priyaa Karwa: </td>
                <td>9052854184</td>
              </tr>
              <tr>
                <td>Office Number: </td>
                <td>022-25476831</td>
              </tr>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="../app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <script src="../app-assets/vendors/js/jquery.steps.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickadate/picker.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickadate/picker.date.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickadate/picker.time.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pickadate/legacy.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/jquery.validate.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/jqBootstrapValidation.js" type="text/javascript"></script>

  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN APEX JS-->
  <script src="../app-assets/js/app-sidebar.js" type="text/javascript"></script>
  <script src="../app-assets/js/notification-sidebar.js" type="text/javascript"></script>
  <script src="../app-assets/js/customizer.js" type="text/javascript"></script>
  <!-- END APEX JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="../app-assets/js/tooltip.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL JS-->

</body>

</html>
