<!DOCTYPE html>
<html lang="en" class="loading">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="Apex admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
  <meta name="keywords" content="admin template, Apex admin template, dashboard template, flat admin template, responsive admin template, web app">
  <meta name="author" content="PIXINVENT">
  <title>Admin Panel | Meet 'N' Greet</title>
  <link rel="shortcut icon" type="image/png" href="img/fav.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900|Montserrat:300,400,500,600,700,800,900" rel="stylesheet">
  <!-- BEGIN VENDOR CSS-->
  <!-- font icons-->
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/feather/style.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/simple-line-icons/style.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/fonts/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/prism.min.css">
  <link rel="stylesheet" type="text/css" href="../app-assets/vendors/css/tables/datatable/datatables.min.css">
  <!-- END VENDOR CSS-->
  <!-- BEGIN APEX CSS-->
  <link rel="stylesheet" type="text/css" href="../app-assets/css/app.css">
  <!-- END APEX CSS-->
  <!-- BEGIN Page Level CSS-->
  <!-- END Page Level CSS-->
  <!-- BEGIN Custom CSS-->
  <!-- END Custom CSS-->
</head>

<body>
  <!-- Footer callback table -->
  <section id="footer">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Registration List</h4>
          </div>
          <div class="card-body collapse show">
            <div class="card-block card-dashboard">

              <div class="table-responsive">
                <table class="table table-striped table-bordered footer-callback">
                  <thead>
                    <tr>
                      <th>Submission Date</th>
                      <th>First name</th>
                      <th>Last name</th>
                      <th>Gender</th>
                      <th>Status</th>
                      <th>Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}

                    <tr>
                      <td> {{ user.submission_date }}</td>
                      <td> {{ user.f_name }} </td>
                      <td> {{ user.l_name }}</td>
                      <td> {{ user.gender | title }}</td>
                      <td> {{ user.status }} </td>
                      {% if "Unconfirmed" in user.status %}
                        <td> $0 </td>
                      {% else %}
                        <td> $3700 </td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="5" style="text-align:right">Total:</th>
                      <th></th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- BEGIN VENDOR JS-->
  <script src="../app-assets/vendors/js/core/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/core/popper.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/core/bootstrap.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/prism.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/jquery.matchHeight-min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/screenfull.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/pace/pace.min.js" type="text/javascript"></script>
  <!-- BEGIN VENDOR JS-->
  <!-- BEGIN PAGE VENDOR JS-->
  <script src="../app-assets/vendors/js/datatable/datatables.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/dataTables.buttons.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/buttons.flash.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/jszip.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/pdfmake.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/vfs_fonts.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/buttons.html5.min.js" type="text/javascript"></script>
  <script src="../app-assets/vendors/js/datatable/buttons.print.min.js" type="text/javascript"></script>
  <!-- END PAGE VENDOR JS-->
  <!-- BEGIN APEX JS-->
  <script src="../app-assets/js/app-sidebar.js" type="text/javascript"></script>
  <script src="../app-assets/js/notification-sidebar.js" type="text/javascript"></script>
  <script src="../app-assets/js/customizer.js" type="text/javascript"></script>
  <!-- END APEX JS-->
  <!-- BEGIN PAGE LEVEL JS-->
  <script src="../app-assets/js/data-tables/datatable-advanced.js" type="text/javascript"></script>
  <!-- END PAGE LEVEL JS-->
  <!-- Footer callback table -->
</body>

</html>
